/* Gesture Images */

.gestures-images-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.75rem;
    background-color: var(--color-neutral-dark_2);
    padding: 1.5rem;
    border-radius: 1.5rem;
}

.gesture-image-container {
    display: flex;
    flex-direction: column;
}

/* Caption */

.score-caption {
    font-weight: normal;
    font-size: 0.75rem;
    color: var(--color-neutral-dark_4);
}

.handedness-caption {
    font-weight: normal;
    font-size: 0.75rem;
    color: var(--color-neutral-dark_4);
}